/* control left margin */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  margin: 1vw;
  background-color: hsl(302, 10%, 99%);
/*  font-family: Helvetica, sans-serif;*/
/*  font-size: 3.25vw;*/
/*  color: hsl(302, 10%, 99%);*/
}

/* 16:9 */
#game {
  width: 98vw; /* 100 - (body margin * 2) */
  height: 54.25vw; /* 56.25 - (body margin * 2) */
  position: relative;
  background: black;
}

#game:after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 0.75vw dotted white;
}

.paddleContainer {
  position: relative;
  width: 1vw;
  height: 15vw;
}

.paddle {
  position: absolute;
  width: 1vw;
  height: 5vw;
  background: white; /* default color */
  top: 5vw; /* start with paddle in the middle of its container (1/3 the container height) */
}

.ball {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background: white;
  /* default position to center court */
  top: 50%;
  left: 50%;
}